body{
    margin: 0;
    padding: 0;
}
.all{
    display: flex;
    flex-direction: row;
}
.sideview{
    background-image: url(mc1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 38vw;
}
.trans{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-top: 150px;
    background-color: black;
    opacity: 0.9;
}
.comp{
    color: white;
    font-size: 30px;
    font-weight: 600;
}
.logo{

    width: 120px;
    height: 150px;
}

.content{
    background-color: #F9FAFB;
    width: 62vw;
}
.talk{
    color: #1f1d1d;
    font-size: 23px;
    font-weight: 100;
    font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 60px;
    margin-left: 80px;
}
.form{
    width: 99%;
    margin-left: 0px;
    margin-top: 60px;
    background-color: white;
    border: grey 0px solid;
    
    box-shadow: grey  0px 10px 40px 1px;
    height: 360px;
}
h1{
    text-align: center;
    font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
}
.form1{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    
}
label{
    color: black;
    font-size: 15px;
    font-weight: 100;
    font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input{
    width: 200px;
    height: 30px;
    border: 2px solid #1f1d1d;
    border-radius: 7px;
    margin-bottom: 10px;
}
.bott{
    text-align: center;
}
.but{
    background-color: #1f1d1d;
    color: white;
    width: 200px;
    height: 30px;
    border: 0px solid #1f1d1d;
    border-radius: 7px;
    margin-top: 20px;
}
:hover.but{
    background-color: white;
    color: #1f1d1d;
    border: 2px solid #1f1d1d;
}
::placeholder{
    font-size: 16px;
}
input{
    font-size: 16px;
    padding-left: 10px; 
}
input:invalid{
    border-color: black;
}
input:valid{
    border-color: green;
}
